 <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Titles -->
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover">Sign Up </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="https://image.bestreview.asia/wp-content/uploads/2020/11/Beagle-1.png" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login-->
          <form>
            <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
          </form>
          
          <div id="btnlogin">
            <%= link_to "LOGIN", articles_path %>
          </div>

        <div class="integracoes">
            <i class="fa fa-3x fa-facebook-square grow"></i>
            <i class="fa fa-3x fa-google-plus-square grow"></i>
        </div>
      
        </div>
      </div>